.vscode/
__pycache__/
gradio_tmp/
outputs/
*.egg-info
body4d.yaml
save_masks.py
save_video.py
img_vid_concat.py
build/
ply_outputs/
*.csv
3b1a4616/
5ebef6bd/
music-band/
5ebef6bd*
*.npy
83924bdb/
adbd400b/
c2e88575/
e35a8262/
*.jpg
csv_results/
figs/
*.pth
output_images/